{% set enumList = viewEnumReadableMap('TypeOfSurveyType') %}
{% set btnClass = 'btn-default' %}
{% if enumList[user.typeOfSurvey] is defined %}
    {% set btnTitle = enumList[user.typeOfSurvey] %}
{% else %}
    {% set btnClass = 'btn-danger' %}
    {% set btnTitle = ' - ' %}
{% endif %}

{% if is_granted('ROLE_EDIT_TYPE_OF_SURVEY') %}
    <div class="btn-group">

        <button class="btn {{ btnClass }}">{{ btnTitle }}</button>
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>

        <ul class="dropdown-menu">
            {% for listItemId,listItem in enumList %}
                <li><a href="#" class="js-user-change-param"
                       data-item-id="{{ user.id }}"
                       data-item-status="{{ listItemId }}"
                       data-item-type="typeOfSurvey"
                       data-target="{{ path('mini_admin_user_param_change') }}"
                            >{{ listItem }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    {{ btnTitle }}
{% endif %}